/* New USer Form CSS */

.newUserForm {
    background-color: lavenderblush;
    color: black;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.loginUserForm {
    background-color: lightsteelblue ;
    color:mediumblue;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 100%;
}