/* New USer Form CSS */
.newUserForm {
    background-color: linen;
    color: black;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.loginUserForm {
    background-color: linen ;
    color:black;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 100%;
}
